{% extends 'base.html' %}

{% block title %}<title>About US</title>{% endblock %}

{% block content %}
<div class="card container mt-4 posts bg-dark">
    <div class="card-header">
    <h4 class="text-white text-align-right" align="right">
    درباره ما
    </h4>
    </div>
    <p class="text-white text-align-right" align="right">
    شرکت مهندسی فن آور پویا سپاهان با نام تجاری فاپسکو با بیش از 15سال سابقه تولید دستگاههای پزشکی ، پوست و زیبایی و نیز به عنوان تولید کننده انواع سیستم های وکیوم پزشکی و تجهیزات اندازه گیری الکترونیکی مشغول به فعالیت می باشد.
     اکنون فاپسکو پس از چندین سال تحقیق و کار مداوم و با استعانت از درگاه خداوند متعال و باهدف مرتفع نمودن نیاز مراکز درمانی به انواع سیستم ها وکیوم، مفتخر به طراحی وتولید دستگاه وکیوم تراپی هوشمندمی باشد همچنین با استفاده از توان علمی و مهندسی، موفق به تولید محصلات میکرودرم ابریژن، میکرو پیگمنتیشن ومیکرو نیدلینگ جهت استفاده در کلینیک های زیبایی با اخذ مجوز از وزارت بهداشت، درمان وآموزش پزشکی، غذاو دارو شده است
    </p>
    <p class="text-white text-align-right", align="right">
    برای اطلاعات بیشتر<a href="https://fanavarco.com/">  به وبسایت رسمی شرکت </a>مراجعه فرمائید.
    </p>
    <div class="card-body">
    </div>
    <div class="card-footer">
    </div>
</div>
{% endblock %}