{% extends 'base.html' %}

{% block title %}<title>Welcome</title>{% endblock %}

{% block content %}
<div class="card container mt-4 posts bg-dark">
    <div class="card-header">
        <h4 class="text-white text-allign-right" align="right">
        آگهی دعوت به همکاری
        </h4>
    </div>
    <div class="card-body">
        <p class="text-white" align="right">
        شرکت دانش بنیان فاپسکو مستقر در پارک علم و فناوری شیخ بهایی از واجدین شرایط جهت طراحی مدار های دیجیتال-الکترونیک-سوئیچینگ و طراحی سیستم های مکانیک دعوت به همکاری مینماید.
        ضمنا دارندگان کارشناسی ارشد و نخبه در تخصص های فوق الذکر به صورت امریه سربازی میتوانند از این فرصت استفاده نماید
        </p>
    </div>
    <div class="card-footer">
        <p class="text-white" align="right">
        در صورت تمایل برروی دکمه ثبت درخواست کلیک کنید
        <span align="left"><a href="{% url 'electronic-form' %}" class="btn btn-success mr-3"> ثبت درخواست</a></span> 
        </p>
    </div>
</div>
{% endblock %}