{% extends 'base.html' %}

{% block title%}<title>job entry</title>{% endblock %}

{% block content %}
<div class="card container mt-4 posts bg-dark">
    <div class="card-header">
        <h4 class="text-white text-allign-right" align="right">
        فرم درخواست همکاری
        </h4>
    </div>
    <div class="card-body">
        <form method="post" class="needs-validation" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            <p class='text-white' align="right">
            اطلاعات هویتی
            </p>
            <hr/>
            <div class="form-inline">
                <label for="first_name" class=" form-control-label text-white ml-sm-3" align="right">
                    نام
                </label> 
                {{ form.first_name }}
                <div class="valid-feedback">مورد پذیرش</div>
                <div class="invalid-feedback">مورد پذیرش نیست</div>
                <label for="last_name" class="form-control-label text-white ml-sm-3">
                    نام خانوادگی
                </label>
                {{ form.last_name }}
                <div class="valid-feedback">مورد پذیرش</div>
                <div class="invalid-feedback">مورد پذیرش نیست</div>
            </div>
            <div class="form-inline mt-2">
                <label class="form-control-label text-white ml-sm-3" for="national_id">
                    شماره ملی
                </label>
                {{ form.national_id }}
                <div class="valid-feedback">مورد پذیرش</div>
                <div class="invalid-feedback">مورد پذیرش نیست</div>
                <label class="form-control-label text-white ml-sm-3" for="age">
                    سن
                </label>
                {{ form.age }}
                <div class="valid-feedback">مورد پذیرش</div>
                <div class="invalid-feedback">مورد پذیرش نیست</div>
            </div>
            <hr/>
            {% if form.first_name.errors %}
                <ul class="form-group mb-3" align="right">
                {% for error in form.first_name.errors %}
                    <li class="alert alert-danger form-control">
                     <strong>{{ form.first_name.label }}:</strong> {{ error }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if form.last_name.errors %}
                <ul class="form-group" align="right">
                {% for error in form.last_name.errors %}
                    <li class="alert alert-danger form-control">
                    <strong>{{ form.last_name.label }}:</strong> {{ error }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if form.national_id.errors %}
                <ul class="form-group" align="right">
                {% for error in form.national_id.errors %}
                    <li class="alert alert-danger form-control">
                    <strong>{{ form.national_id.label }}:</strong> {{ error }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if form.age.errors %}
                <ul class="form-group" align="right">
                {% for error in form.age.errors %}
                    <li class="alert alert-danger form-control">
                    <strong>{{ form.age.label }}:</strong> {{ error }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <hr/>
            <p class='text-white mt-4' align="right">
            اطلاعات تماس
            </p>
            <hr/>
            <div class="form-inline">
                <label class="form-control-label text-white ml-sm-3" for="email">
                ایمیل
                </label>
                {{ form.email }}
                <div class="valid-feedback">مورد پذیرش</div>
                <div class="invalid-feedback">مورد پذیرش نیست</div>
                <label class="form-control-label text-white ml-sm-3" for="mobile_phone">
                تلفن همراه
                </label>
                {{ form.mobile_phone }}
                <div class="valid-feedback">مورد پذیرش</div>
                <div class="invalid-feedback">مورد پذیرش نیست</div>
            </div>
            <div class="form-inline mt-2">
                <label class="form-control-label text-white ml-sm-3" align="right" for="address">
                آدرس
                </label>
                {{ form.address }}
                <div class="valid-feedback">مورد پذیرش</div>
                <div class="invalid-feedback">مورد پذیرش نیست</div>
            </div>
            <hr/>
            {% if form.email.errors %}
                <ul class="form-group" align="right">
                {% for error in form.email.errors %}
                    <li class="alert alert-danger form-control">
                    <strong>{{ form.email.label }}:</strong> {{ error }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if form.mobile_phone.errors %}
                <ul class="form-group" align="right">
                {% for error in form.mobile_phone.errors %}
                    <li class="alert alert-danger form-control">
                    <strong>{{ form.mobile_phone.label }}:</strong> {{ error }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if form.address.errors %}
                <ul class="form-group" align="right">
                {% for error in form.address.errors %}
                    <li class="alert alert-danger form-control">
                    <strong>{{ form.address.label }}:</strong> {{ error }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <hr/>
            <p class='text-white mt-4' align="right">
            تحصیلات
            </p>
            <hr/>
            <div class="form-inline">
                <label class="form-control-label text-white  ml-sm-3" for="university">
                دانشگاه
                </label>
                {{ form.university }}
                <div class="valid-feedback">مورد پذیرش</div>
                <div class="invalid-feedback">مورد پذیرش نیست</div>
                <label class="form-control-label text-white  ml-sm-3" for="university_subject">
                رشته تحصیلی
                </label>
                {{ form.university_subject }}
                <div class="valid-feedback">مورد پذیرش</div>
                <div class="invalid-feedback">مورد پذیرش نیست</div>
                <label class="form-control-label text-white  ml-sm-3" for="university_degree">
                مدرک تحصیلی
                </label>
                {{ form.university_degree }}
                <div class="valid-feedback">مورد پذیرش</div>
                <div class="invalid-feedback">مورد پذیرش نیست</div>
            </div>
            <hr/>
            {% if form.university.errors %}
                <ul class="form-group" align="right">
                {% for error in form.university.errors %}
                    <li class="alert alert-danger form-control">
                    <strong>{{ form.university.label }}:</strong> {{ error }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if form.university_subject.errors %}
                <ul class="form-group" align="right">
                {% for error in form.university_subject.errors %}
                    <li class="alert alert-danger form-control">
                    <strong>{{ form.university_subject.label }}:</strong> {{ error }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if form.university_degree.errors %}
                <ul class="form-group" align="right">
                {% for error in form.university_degree.errors %}
                    <li class="alert alert-danger form-control">
                    {{ error }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <hr/>
            <p class='text-white mt-4' align="right">
            سوابق کاری
            </p>
            <hr/>
            <div class="form-inline">
                <label class="form-control-label text-white" for="work_reputations">
                سوابق کاری
                </label>
                {{ form.work_reputations }}
                <div class="valid-feedback">مورد پذیرش</div>
                <div class="invalid-feedback">مورد پذیرش نیست</div>
            </div>
            <hr/>
            <hr/>
            <p class='text-white mt-4' align="right">
             مهارت ها
            </p>
            <hr/>
            <div class="form-check mb-4 form-align-right" align="right">
                <label class="form-check-label text-white ml-1" align="right" for="micro_controller">
                 میکروکنترلر ها
                </label>
                {{ form.micro_controller }}
                <label class="form-check-label text-white ml-1 mr-lg-5" align="right" for="power">
                مدارات تغذیه
                </label>
                {{ form.power }}
                <label class="form-check-label text-white ml-1 mr-lg-5"align="right" for="ateml_studio">
                اتمل استودیو(Ateml Studio)
                </label>
                {{ form.atmel_studio }}
            </div>
            <div class="form-check" align="right">
                <label class="form-check-label text-white ml-1"  align="right" for="altium_designer">
                آلتیوم دیزانیر(Altium Designer)
                </label>
                {{ form.altium_designer }}
                <label class="form-check-label text-white ml-1 mr-lg-5" for="arduino">
                آردوینو(Arduino)
                </label>
                {{ form.arduino }}
                <label class="form-check-label text-white ml-1 mr-lg-5" for="code_vision">
                کد ویژن(Code Vision)
                </label>
                {{ form.code_vision }}
                <label class="form-check-label text-white ml-1 mr-lg-5" for="proteus">
                پروتئوس(proteus)
                </label>
                {{ form.proteus }}
            </div>
            <div class="form-inline mt-lg-4">
                <label class="form-control-label text-white ml-3" for="others">
                سایر مهارت ها
                </label>
                {{ form.others }}
            </div>
            <hr/>
             <p class='text-white mt-4' align="right">
             رزومه و حقوق پیشنهادی
            </p>
            <hr/>
            <div class="form-inline">
                {{ form.resume }}
                <label class="form-control-label text-white mb-3 mr-lg-5 ml-2" for="expected_salary">
                حقوق
                </label>
                {{form.expected_salary }}
                <div class="valid-feedback">مورد پذیرش</div>
                <div class="invalid-feedback">مورد پذیرش نیست</div>
            </div>
            {% if form.expected_salary.errors %}
                <ul class="form-group" align="right">
                {% for error in form.expected_salary.errors %}
                    <li class="alert alert-danger form-control">
                    <strong>{{ form.expected_salary.label }}:</strong> {{ error }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <div class="form-group">
               <input class="btn btn-success form-control" value="تائید" type="submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}