{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}<title>adminstators</title>{% endblock %}

{% block content %}
<div class="card container mt-4 posts bg-dark">
    <div class="card-header">
    <h4 class="text-white text-align-right" align="center">
     ورود مدیران
    </h4>
    </div>
    <div class="card-body">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger" align="right">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <form method="post">
        {% csrf_token %}
            <div class="form-group">
                <!--label for="username">نام کاربری</label-->
                {{ form.username|as_crispy_field }}
                <!--label for="password">رمز عبور</label-->
                {{ form.password|as_crispy_field }}
            </div>
            <div class="form-group">
                <input type="submit" value="ورود" class=" form-control btn btn-success">
            </div>
        </form>
    </div>
    <div class="card-footer">
    </div>
</div>
{% endblock %}